.choice-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  width: 50%;
}

.choice-form label {
  display: flex;
}

.choice-form input {
  margin-right: 10px;
}

.radio {
  width: 150px;
}

.btn {
  width: auto;
  height: auto;
  color: white;
  font-size: 1.25em;
  background-color: #4169e1;

}

@media (max-width: 480px) {
  .choice-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    width: 100%;
  }
  .btn {
    margin-top: 10px;
  }
}
